@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//primary
$light-red-color: hsl(356, 100%, 66%);
$text-red-color: #ff505c;
$lighter-red-color: hsl(355, 100%, 74%);
$dark-blue-color: hsl(208, 49%, 24%);

//neutral
$white-color: hsl(0, 0%, 100%);
$grayish-blue-color: hsl(240, 2%, 79%);
$darkest-blue-color: hsl(240, 10%, 16%);

//background gradient
$light-red-color: hsl(13, 100%, 72%);
$red-color: hsl(353, 100%, 62%);

//fonts
$overpass-font: "Overpass", sans-serif;
$ubuntu-font: "Ubuntu", sans-serif;

@mixin button($background, $color) {
  background: $background;
  color: $color;
  line-height: 18px;
  font-weight: bold;
  font-family: $ubuntu-font;
  border-radius: 28px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: $white-color;
}

.container {
  background-color: #fafafa;
}

// @media screen and (min-width: 1440px) {
.wrapper {
  max-width: 1440px;
  margin: auto;
}
.header {
  background: url(./images/bg-pattern-intro.svg),
    linear-gradient(135deg, $light-red-color 0%, $red-color 100%);
  background-position: 24% 52%;
  border-radius: 0px 0px 0px 100px;
  padding: 63px 161px 155px 167px;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $ubuntu-font;
  }
  &__content-link {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    margin-left: 64px;
  }
  &__item {
    margin-right: 32px;
    line-height: 18px;
    font-weight: bold;
    position: relative;
    height: 30px;
    &:hover .header__dropdown {
      display: block;
      transition: all 200ms ease-in;
    }
  }
  &__link--white {
    color: $white-color;
    opacity: 0.75;
  }
  &__dropdown {
    display: none;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
    padding: 24px;
    position: absolute;
    top: 27px;
    left: -22px;
    .dropdown__item {
      font-weight: normal;
      font-size: 15px;
      & a {
        color: black;
      }
      &:hover {
        font-weight: bold;
      }
    }
  }

  .nav__btns {
    &--login {
      font-family: $ubuntu-font;
      opacity: 0.75;
      color: $white-color;
      &:hover {
        text-decoration: underline;
      }
    }
    &--white {
      @include button($white-color, $text-red-color);
      opacity: 1;
      padding: 15px 39px;
      margin-left: 32px;
      &:hover {
        @include button($lighter-red-color, $white-color);
        transition: 0.5s ease;
      }
    }
  }

  .nav__hamburger {
    display: none;
  }

  &__main {
    text-align: center;
    font-family: $overpass-font;
    color: $white-color;
    margin-top: 119px;
    &--title {
      font-size: 64px;
      font-weight: 600;
      line-height: 98px;
      letter-spacing: -1.92px;
    }
    &--subtitle {
      font-weight: 300;
      font-size: 20px;
      line-height: 31px;
      margin-bottom: 43px;
    }
  }

  &__btn--start {
    @include button($white-color, $text-red-color);
    padding: 15px 17px;
    margin-right: 16px;
    &:hover {
      @include button($lighter-red-color, $white-color);
      transition: 0.5s ease;
    }
  }
  &__btn--learn {
    @include button(inherit, inherit);
    border: 1px solid $white-color;
    padding: 15px 25px;
    border-radius: 28px;
    &:hover {
      @include button($white-color, $lighter-red-color);
      transition: 0.5s ease;
    }
  }
}

.section {
  // position: relative;
  font-family: $overpass-font;
  margin-top: 71px;
  padding: 79px 0 210px 150px;
  background: url(./images/illustration-editor-desktop.svg) no-repeat;
  background-position: 830px top;
  background-size: 880px;
  .editor-mobile {
    display: none;
  }
  &__title {
    color: $darkest-blue-color;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    letter-spacing: -1.2px;
  }
  &__content {
    margin-top: 93px;
    max-width: 540px;
  }
  &__info {
    margin-bottom: 64px;
    &--title {
      font-weight: 600;
      font-size: 28px;
      line-height: 28px;
      color: $dark-blue-color;
      margin-bottom: 27px;
    }
    &--subtitle {
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: #4c5862;
    }
  }
}

.section--blue {
  font-family: $overpass-font;
  background: url(/images/bg-pattern-circles.svg),
    linear-gradient(135deg, #2d2e40 0%, #3f4164 100%) no-repeat;
  background-repeat: no-repeat;
  background-position: -50% 82%;
  color: white;
  border-radius: 0px 100px;
  padding: 111px 165px;
  display: flex;
  justify-content: flex-end;
  position: relative;

  .section__main {
    width: 540px;
    &--title {
      font-weight: 600;
      font-size: 40px;
      line-height: 61px;
      letter-spacing: -1.2px;
      margin-bottom: 5px;
    }
    &--subtitle {
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }
  .img-phones {
    position: absolute;
    top: -70px;
    left: 125px;
  }
}

.section__tooling {
  background: url(./images//illustration-laptop-desktop.svg) no-repeat;
  background-position: -270px top;
  background-size: 945px;
  margin-top: 116px;
  padding: 92px 165px 185px 0;
  display: flex;
  justify-content: flex-end;
  .image-laptop {
    display: none;
  }
}

.footer {
  font-family: $ubuntu-font;
  background-color: hsl(240, 10%, 16%);
  color: white;
  border-radius: 0px 100px 0px 0px;
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  padding: 70px 165px;
  &__list {
    display: flex;
    width: 648px;
    margin-left: 184px;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;
  }
  &__sublist {
    margin-top: 25px;
  }
  .sublist__item {
    opacity: 0.75;
    font-size: 15px;
    line-height: 33px;
    margin-top: 5px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      transition: 0.5s ease;
    }
  }
}
// }

@media screen and (max-width: 768px) {
  .wrapper {
    background: white;
  }

  .header {
    padding: 56px 24px 156px;
    background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    &__list {
      display: none;
    }
    .nav__btns {
      display: none;
    }
    .nav__hamburger {
      display: block;
    }

    &__main {
      &--title {
        font-size: 36px;
        letter-spacing: -0.3px;
        line-height: 55px;
      }
      &--subtitle {
        font-size: 18px;
        line-height: 28px;
      }
    }

    &__btn--start,
    &__btn--learn {
      font-size: 16px;
    }

    &__content-link img {
      width: 82px;
    }
  }

  .section {
    padding: 0 24px;
    margin-top: 100px;
    background: none;
    text-align: center;
    &__title {
      font-size: 28px;
      line-height: 43px;
      letter-spacing: -0.84px;
      margin-bottom: 38px;
    }
    .editor-mobile {
      display: initial;
      width: 326px;
    }
    &__content {
      margin: 46px auto;
      padding-left: 9px;
    }
    &__info {
      &--title {
        line-height: 32px;
      }
    }
  }

  .section--blue {
    padding: 221px 24px 109px;
    text-align: center;
    display: block;
    margin-top: 273px;
    // background-position: -113px -234px;
    // background-size: 600px;
    // .section--content {
    //   background: linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
    // }
    .section__main {
      width: 100%;
      &--title {
        margin-bottom: 10px;
      }
    }
    .img-phones {
      top: -165px;
      left: 50%;
      transform: translateX(-50%);
      width: 328px;
    }
  }

  .section__tooling {
    background: none;
    display: block;
    text-align: center;
    margin-top: 79px;
    padding: 0 24px;
    .image-laptop {
      display: block;
      width: 328px;
      margin: auto;
    }
  }

  .footer {
    display: block;
    padding: 75px 24px 35px;
    text-align: center;
    font-size: 18px;
    & img {
      margin-bottom: 72px;
    }
    &__list {
      display: inline;
      margin: 0;
    }
    &__item {
      margin-bottom: 40px;
    }
    &__sublist {
      margin-top: 21px;
    }
  }
}
